/*Body*/
$font-fam: monospace;
$body-color: rgb(255, 252, 252);


/*checkbox*/
$check-display: none;

/*Modal Box*/
//modal-overlay
$modal-overlay-opacity: 0;
$modal-overlay-visibility: hidden;
$modal-bg: rgba(0, 0, 0, 0.162);
$modal-position-top: 0;
$modal-position--right: 0;
$modal-position-left: 0;
$modal-position-bottom: 0;
$modal-position: fixed;
//modalbox-content
$modal-display: flex;
$modal-flex-direct: column;
$modal-width: 300px;
$modal-margin: 14rem auto;
$modal-bg-2: white;
$modal-rad: 10px;
$modal-rad-color: 1px black solid;
$modal-transform-2: translateY(0px);
$modal-translate: 0.4s ease-in-out transform;
$modal-transform-3: translateY(-1000px);

//checkbox + Modal-overlay*/
$modal-check-vis: visible;
$modal-check-opacity: 1;

/*Label-Btn*/
$label-bg: lightgreen;
$label-text-color: white;
$label-padding: 2em;
$label-dis: inline-block;
$label-mouse: pointer;
$label-close: $label-padding;
//open
$open-transform-y: 25px;
//close
$close-icon-post: absolute;
$close-translate-x: 295px;
$close-translate-y: -16px;
//*Open-Btn-animate

$animate-name: open_move;
//labelhover
$label-bg-2: rgb(103, 160, 103);
$label-transition: background-color ease-in 0.3s;

