@import 'variable';

/*Body*/
body {
     font-family: $font-fam;
}

/*Checkbox*/
.checkbox {
     display: $check-display;
}

.modal-overlay {
     opacity: $modal-overlay-opacity;
     visibility: $modal-overlay-visibility;
}

/*Declaration*/
.checkbox:checked + .modal-overlay {
     opacity: $modal-check-opacity;
     visibility: $modal-check-vis;
}